<div class="ui form ConfigurationPanel">
  
  <div class="ui field">
    <label for="ClassFieldName">
      {{ $t('Class Field') }}
    </label>
    <select v-model="localConfig.classFieldName"
            id="ClassFieldName">
      <option v-for="header in headers"
              v-bind:value="header">
        {{ header }}
      </option>
    </select>
  </div>
  
  <div class="ui field">
    <label for="Classifier">
      {{ $t('Classifier') }}
    </label>
    <select v-model="classifier"
            id="Classifier">
      <option v-for="c in classifierList"
              v-bind:value="c">
        {{ c }}
      </option>
    </select>
  </div>
  
  <DecisionTree 
    v-if="classifier === 'DecisionTree'"
    ref="DecisionTree"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </DecisionTree>
  
  <EvaluationPanel 
    ref="EvaluationPanel"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </EvaluationPanel>
  
</div>