<div class="Index">
  
  <NavigationBar
    ref="NavigationBar"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </NavigationBar>
  
  <div class="content"
       v-bind:class="{'show-configuration-panel': localConfig.displayConfigurationPanel}">
    <div class="data-table column">
      <DataTable
        ref="DataTable"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </DataTable>
    </div>
    <div class="configuration-panel column"
         v-if="localConfig.displayConfigurationPanel">
      <ConfigurationPanel
        ref="ConfigurationPanel"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </ConfigurationPanel>
    </div>
  </div>
  
  <!-- ============================ -->
  
  <LoadingLayer
    ref="LoadingLayer"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </LoadingLayer>
</div>