<div class="DecisionTree">
  <div class="field">
    <label for="KNearestNeighborsOptionsK">{{ $t('K-nearest neighbor') }}</label>
    <input type="number" min="2" 
           id="KNearestNeighborsOptionsK"
           v-model="localConfig.KNearestNeighborsOptionsK" />
  </div>
  
  <div class="ui field"
       v-if="!isModelBuilded">
    <button type="button"
            class="ui primary fluid button"
            v-on:click="start">
      <template>
        {{ $t('Build Model and Predict') }}
      </template>
    </button>
  </div>
  
  <div class="ui field"
       v-if="isModelBuilded && !isModelUnsupervised" >
    <button type="button"
            class="ui primary fluid button"
            v-bind:class="{'disabled': !$parent.isNeedPredict}"
            v-on:click="start">
      <template>
        {{ $t('Predict') }}
      </template>
    </button>
  </div>
  
  <div class="ui field" v-if="isModelBuilded">
    <button type="button"
            class="ui primary fluid button"
            v-on:click="showModel">
      {{ $t('Show Model') }}
    </button>
  </div>
  
</div>