<div>
  <div class="ui top fixed inverted menu">
    <div class="item">
      <img v-bind:src="logoPath">
    </div>
    <a class="item">
      {{ $t('OPEN DATA') }}
    </a>
    <a class="item">
      {{ $t('SAVE DATA') }}
    </a>

    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui icon input">
          <input class="prompt" type="text" 
                 v-bind:placeholder="$t('Search...')">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <a class="icon item"
         v-on:click="localConfig.displayConfigurationPanel = !localConfig.displayConfigurationPanel">
        <i class="bars icon"
           v-if="!localConfig.displayConfigurationPanel"></i>
        <i class="chevron circle up icon"
           v-if="localConfig.displayConfigurationPanel"></i>
      </a>
    </div>
  </div>
</div>