<div>
  <div class="ui top fixed inverted menu">
    <div class="item">
      <img v-bind:src="logoPath">
    </div>
    <a class="ui dropdown item"
       ref="LoadDemoDropdown">
      {{ $t('LOAD DEMO') }}
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item"
             v-for="file in config.demoDataList"
             v-on:click="loadDemo(file)">
          {{ $t(file) }}
        </div>
      </div>
    </a>
    <a class="item"
       v-on:click="openFile">
      {{ $t('OPEN FILE') }}
    </a>
    <a class="item"
       v-on:click="saveFile">
      {{ $t('SAVE FILE') }}
    </a>

    <div class="right menu">
      <div class="ui right mini aligned category search item">
        <form class="ui icon input"
              v-on:submit.stop.prevent="onSearch">
          <input class="prompt" type="text" 
                 v-model="localConfig.searchKeyword"
                 v-bind:placeholder="$t('Search...')">
          <i class="search link icon"></i>
        </form>
        <div class="results"></div>
      </div>
      <a class="icon item"
         v-on:click="localConfig.displayConfigurationPanel = !localConfig.displayConfigurationPanel">
        <i class="bars icon"
           v-if="!localConfig.displayConfigurationPanel"></i>
        <i class="chevron circle up icon"
           v-if="localConfig.displayConfigurationPanel"></i>
      </a>
    </div>
  </div>
</div>